{% extends 'base.html' %} {% block content %}

<div class="container">
  <div class="row text-center">
    <div
      class="col mx-auto d-flex justify-content-center align-items-center"
      style="min-height: 80vh"
    >
      <div>
        <h1 class="display-2">Oops!</h1>
        <div class="h4">
          Sorry, an error has occured, Requested page not found!
        </div>
        <div class="error-actions mt-2">
          <a href="{% url 'home' %}" class="btn btn-primary btn-lg">
            Take Me Home
          </a>
          <a href="" class="btn btn-secondary btn-lg mx-2"> Contact Support </a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
