{% extends 'base.html' %} {% load static %} {% block content %}

<section class="instructor_info">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <div class="card p-4">
          <div class="about-instructor">
            <div
              class="
                user-info
                d-flex
                align-items-center
                flex-column
                justify-content-center
              "
            >
              <img
                src="{{instructor_profile.profile.avatar}}"
                alt=""
                class="rounded-circle"
                width="150"
                height="150"
              />
              <span class="mx-2 text-capitalize my-2">
                <a class="h6 text-decoration-none" 
                  >{{instructor_profile.profile.full_name}}</a
                >
                <span>- {{instructor_profile.profile.bio}}</span>
              </span>
            </div>
            <div class="instructor-social my-3 text-center">
              <span class="website">
                <a class="btn btn-dark text-decoration-none"  href="{{instructor_profile.profile.website}}"  target="_blank">
                  <i class="bi bi-globe"></i>
                </a>
              </span>
              <span class="youtueb">
                <a class="btn btn-dark text-decoration-none"  href="{{instructor_profile.profile.youtube}}"  target="_blank">
                  <i class="bi bi-youtube"></i>
                </a>
              </span>
              <span class="twitter">
                <a class="btn btn-dark text-decoration-none"  href="{{instructor_profile.profile.twitter}}"  target="_blank">
                  <i class="bi bi-twitter"></i>
                </a>
              </span>
              <span class="instagram">
                <a class="btn btn-dark text-decoration-none"  href="{{instructor_profile.profile.instagram}}"  target="_blank">
                  <i class="bi bi-instagram"></i>
                </a>
              </span>
              <span class="linkedin">
                <a class="btn btn-dark text-decoration-none"  href="{{instructor_profile.profile.linkedin}}"  target="_blank">
                  <i class="bi bi-linkedin"></i>
                </a>
              </span>
            </div>
          </div>
          
        </div>
      </div>
      <div class="col-md-8">
        <!-- instructor description -->
        <div class="card p-4">
          <div class="instructor-description">
            <h5 class="fw-bold h5">About me</h5>
            <p>{{instructor_profile.profile.about_me}}</p>
          </div>
        </div>
        <!-- Courses By Instructor -->
        <div class="card p-4">
          <div class="card-title">
            <h5 class="fw-bold">My Courses</h5>
          </div>
          <div class="coures">
            <div class="row featured-course-card mx-auto">
              {% for course in instructor_courses %}
              <div class="col-6 col-md-4">
                <a
                  href="{% url 'course_details' course.id %}"
                  class="text-decoration-none text-white"
                >
                  <div class="card">
                    <img src="{{course.thumbnail.url}}" />
                    <div class="card-body">
                      <blockquote class="blockquote bold">
                        <h6 class="h6">{{course.title}}</h6>
                      </blockquote>

                      <figcaption class="blockquote-footer mt-1 text-white-50">
                        <cite title="Source Title"
                          >{{course.instructor | capfirst}}</cite
                        >
                      </figcaption>

                      <figcaption class="blockquote-footer mt-1">
                        <cite title="Source Title">
                          {{course.lecture_count}}</cite
                        >
                      </figcaption>
                    </div>
                  </div>
                </a>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
