{% extends 'base.html' %} {% load static %} {% block content %}
<section class="user_info">
	<div class="container">
		<div class="row">
			<div class="col-md-4">
				<div class="card p-4">
					<div class="about-user">
						<div
							class="user-info d-flex align-items-center flex-column justify-content-center"
						>
							<img
								src="{{user_profile.avatar}}"
								alt=""
								class="rounded-circle"
								width="150"
								height="150"
								style="object-fit: cover"
							/>
							<span class="mx-2 text-capitalize my-2">
								<a class="h6 text-decoration-none" href="#"
									>{{user_profile.full_name}}</a
								>
								<span>- {{user_profile.bio}}</span>
							</span>
						</div>
						<div class="user-social my-3 text-center">
							<span class="youtube">
								<a class="btn btn-dark text-decoration-none" href="{{request.user.instructor.profile.youtube}}"  target="_blank">
									<i class="bi bi-youtube"></i>
								</a>
							</span>
							<span class="twitter">
								<a class="btn btn-dark text-decoration-none" href="{{request.user.instructor.profile.twitter}}"  target="_blank">
									<i class="bi bi-twitter"></i>
								</a>
							</span>
							<span class="instagram">
								<a class="btn btn-dark text-decoration-none" href="{{request.user.profile.instagram}}"  target="_blank">
									<i class="bi bi-instagram"></i>
								</a>
							</span>
						</div>
					</div>
				</div>
				<div class="d-grid gap-2 mt-3">
					<a
						href="{% url 'update_profile' %}"
						class="btn btn-dark"
						type="button"
					>
						Update Profile
					</a>
				</div>
			</div>
			<div class="col-md-8">
				<!-- user description -->
				<div class="card p-4">
					<div class="user-description">
						<h5 class="fw-bold h5">About me</h5>
						<p>{{user_profile.about_me}}</p>
					</div>
				</div>
				<!-- Courses by user-->
				{% if user.profile.is_instructor %}
				<div class="card p-4">
					<div class=" d-flex justify-content-between">
						<h5 class="fw-bold">Your Courses</h5>
						<a class=" btn btn-dark" href="{% url 'add-course' %}">Add New Course</a>
					</div>
					<div class="coures">
						<div class="row featured-course-card mx-auto">
							{% for course in course_by_instructor %}
							<div class="col-6 col-md-4 d-flex align-items-stretch">
								
									<div class="card">
										<img
											src="{{course.thumbnail.url}}"
											class="img-fluid card-img-top"
											style="width: 100%; height: 20vh; object-fit: cover"
										/>
										<div class="card-body">
											<h6 class="h6 text-white">{{course.title}}</h6>

											<a href="{% url 'course_dashboard' course.id %}" class="btn btn-dark">Course Dashboard</a>
										</div>
									</div>
								
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
				{% endif %}
				<!-- Courses enrolled by user -->
				<div class="card p-4">
					<div class="card-title">
						<h5 class="fw-bold">Enrolled Courses</h5>
					</div>
					<div class="coures">
						<div class="row featured-course-card mx-auto">
							{% for course in enrolled_courses %}
							<div class="col-6 col-md-4 d-flex align-items-stretch">
								<a
									href="{% url 'course_details' course.course.id %}"
									class="text-decoration-none text-white"
								>
									<div class="card">
										<img
											src="{{course.course.thumbnail.url}}"
											class="img-fluid card-img-top"
											style="width: 100%; max-height: 20vh; object-fit: cover"
										/>
										<div class="card-body">
											<h6 class="h6">{{course.course.title}}</h6>
										</div>
									</div>
								</a>
							</div>
							{% endfor %}
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>

{% endblock content %}
