/* hero section */

header.masthead {
  padding-top: 10.5rem;
  padding-bottom: 6rem;
  text-align: center;
  color: #fff;
  /* background-image: url("../img/bg.jpg"); */
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.masthead .masthead-subheading {
  font-size: 1.5rem;
  font-style: italic;
  line-height: 1.5rem;
  margin-bottom: 1rem;
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
header.masthead .masthead-heading {
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 3.25rem;
  margin-bottom: 1rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media (min-width: 768px) {
  header.masthead {
    padding-top: 17rem;
    padding-bottom: 12.5rem;
  }
  header.masthead .masthead-subheading {
    font-size: 2.25rem;
    font-style: italic;
    line-height: 2.25rem;
    margin-bottom: 1rem;
  }
  header.masthead .masthead-heading {
    font-size: 2.5rem;
    font-weight: 700;
    line-height: 4.5rem;
    margin-bottom: 1rem;
  }
}

.card {
  margin-top: 20px;
}
/* list */

.activity-done {
  font-weight: 600;
}

.list-group li {
  margin-bottom: 12px;
}

.date-time {
  font-size: 12px;
}

.label__input {
  background-color: transparent;
  border-radius: 4px;
  height: 16px;
  width: 16px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 4px;

  /* Spacing */
  margin-right: 8px;
  padding: 4px;
}

.side-lesson,
.video-side {
  overflow: scroll;
  height: 100vh;
}

@media screen and (max-width: 780px) {
  .syllabus-heading {
    float: left;
  }

  .card {
    margin: 20px auto;
  }

  .card {
    width: 100%;
  }

  .featured-course-card {
    align-items: center !important;
    margin-left: auto;
    margin-right: auto;
  }
}

.team-member {
  margin-bottom: 3rem;
  text-align: center;
}
.team-member img {
  width: 200px;
  height: 200px;
  border: 0.5rem solid rgba(0, 0, 0, 0.1);
}
.team-member h4,
.team-member .h4 {
  margin-top: 1.5rem;
  margin-bottom: 0;
}

.footer {
  text-align: center;
  font-size: 0.9rem;
  font-family: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

.side-lesson::-webkit-scrollbar {
  display: none;
}
.video-side::-webkit-scrollbar {
  display: none;
}

.side-lesson,
.video-side {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
