{% extends 'base.html' %} {% load static %} {% block content %}
<section id="featured-courses" class="my-5 text-white">
  <div class="row container mb-4 mx-auto">
    <div
      class="featured-courses-heading d-flex justify-content-between mx-auto"
    >
      <h3>Explore courses</h3>
    </div>
  </div>
  <div class="container">
    <div class="row featured-course-card mx-auto">
      {%for course in all_courses%}
      <div class="col-6 col-md-3 d-flex align-items-stretch">
        <a
          href="{% url 'course_details' course.id %}"
          class="text-decoration-none text-white"
        >
          <div class="card">
            <img
              src="{{course.thumbnail.url}}"
              class="card-img-top img-fluid
              alt="..."
              
              style="width: 100%; max-height: 20vh; object-fit: cover"
            />
            <div class="card-body">
              <blockquote class="blockquote bold">
                <h6 class="h5 text-capitalize">{{course.title}}</h6>
              </blockquote>
              <figcaption class="blockquote-footer mt-1 text-white-50">
                <cite title="Source Title">
                  by &#160;
                  <span ><a
                      {% comment %} href="{% url 'instructor_profile' course.course_instructor %}" {% endcomment %}
                      >{{course.instructor |capfirst}}</a
                    ></span
                  ></cite>
              </figcaption>
            </div>
          </div>
        </a>
      </div>
      {%endfor%}
    </div>
  </div>
</section>

{% endblock content %}
